html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

main {
    width: 70%;
    margin: 0px auto;
    padding-top: 32px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 42px;
    background-color: #714384;
    padding: 8px 8px;
}

header #title {
    font-family: "ProximaNova";
    font-weight: bold;
    font-size: 23px;
    color: white;
    text-decoration: unset;
    background-color: #714384;
    margin-left: 23px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 23px;
    padding: 4px 4px;
    background-color: #714384;
    font-family: "ProximaNova";
    color: white;
}

legend {
    font-family: "ProximaNova";
}

label {
    font-family: "ProximaNovaBold";
    font-size: 12px;
}

input[type="radio"]+label,
input[type="checkbox"]+label {
    font-family: "ProximaNova";
    font-size: 14px;
}

input:not([type]),
input[type="text"],
input[type="email"] {
    width: 100%;
    margin-bottom: 8px;
}

fieldset {
    padding: 12px;
    margin-bottom: 8px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form>input[type="submit"] {
    margin-left: auto;
}

button,
input[type="submit"] {
    background-color: #714384;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "ProximaNova";
    font-size: 18px;
    padding: 8px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;

}

button:hover,
input[type="submit"]:hover,
button:focus,
input[type="submit"]:focus {
    background-color: #b36fd0;
}

@font-face {
    font-family: "ProximaNova";
    src: url("//db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.eot");
    src: url("//db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.woff") format("woff"), url("//db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.svg#ProximaNova-Regular") format("svg");
}

@font-face {
    font-family: "ProximaNovaBold";
    src: url("//db.onlinewebfonts.com/t/278e01d69f6bb01ebcc25e546d66c4f3.eot");
    src: url("//db.onlinewebfonts.com/t/278e01d69f6bb01ebcc25e546d66c4f3.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/278e01d69f6bb01ebcc25e546d66c4f3.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/278e01d69f6bb01ebcc25e546d66c4f3.woff") format("woff"), url("//db.onlinewebfonts.com/t/278e01d69f6bb01ebcc25e546d66c4f3.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/278e01d69f6bb01ebcc25e546d66c4f3.svg#Metropolis") format("svg");
}
